{% extends 'base.html.twig' %}

{% block title %}SuperShop
{% endblock %}


{% block body %}


	<!-- Start of the Landing Page Image -->
	<div class="landing">
		<div class="home-wrap">
			<div class="home-inner"></div>
		</div>
	</div>
	<div class="caption center-block text-center" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
		<div></div>
		<div>
			<h1>Welcome to E-BIJOUX</h1>
		</div>
		<div>
			<h3>Handcrafted, home-made masterpieces</h3>
		</div>
		<div>
			<a class="btn btn-outline-light btn-lg" href="#features">Get Started</a>
		</div>
	</div>
</div>

<main>
	<!--card start-->
	<div class="conteneur">
		<div class="card">
			<div class="boite">
				<div class="contenu">

					<h3>Card one</h3>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum expedita repellendus repellat ab autem magnam ex alias voluptatibus mollitia quasi.</p>
					<a href="#">En savoir plus</a>
				</div>
			</div>
		</div>
	</div>
	<div class="conteneur">
		<div class="card">
			<div class="boite">
				<div class="contenu">

					<h3>Card two</h3>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum expedita repellendus repellat ab autem magnam ex alias voluptatibus mollitia quasi.</p>
					<a href="#">En savoir plus</a>
				</div>
			</div>
		</div>
	</div>
	<div class="conteneur">
		<div class="card">
			<div class="boite">
				<div class="contenu">

					<h3>Card three</h3>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum expedita repellendus repellat ab autem magnam ex alias voluptatibus mollitia quasi.</p>
					<a href="#">En savoir plus</a>
				</div>
			</div>
		</div>
	</div>
	<!--card end-->

</main>
<!--cercl -start-->
<!-- This script got from frontendfreecode.com -->
<div class="container" data-aos="flip-left">
	<p></p>
	<div class="row mt-3">

		<div class="col-3">
			<div class="do-item do-item-circle do-circle">
				<img src="./images/image2.png" class="do-item do-circle">
				<div class="do-info-wrap do-circle">
					<div class="do-info">
						<div class="do-info-front do-circle"></div>
						<div class="do-info-back do-circle">
							<h3>Title Here</h3>
							<div>Description<br>
								Author / Date</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="do-item do-item-circle do-circle">
				<img src="./images/image2.png" class="do-item do-circle">
				<div class="do-info-wrap do-circle">
					<div class="do-info">
						<div class="do-info-front do-circle"></div>
						<div class="do-info-back do-circle">
							<h3>Title Here</h3>
							<div>Description
								<br/>
								Author / Date</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="do-item do-item-circle do-circle">
				<img src="./images/image2.png" class="do-item do-circle">
				<div class="do-info-wrap do-circle">
					<div class="do-info">
						<div class="do-info-front do-circle"></div>
						<div class="do-info-back do-circle">
							<h3>Title Here</h3>
							<div>Description
								<br/>
								Author / Date</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="do-item do-item-circle do-circle">
				<img src="./images/image2.png" class="do-item do-circle">
				<div class="do-info-wrap do-circle">
					<div class="do-info">
						<div class="do-info-front do-circle"></div>
						<div class="do-info-back do-circle">
							<h3>Title Here</h3>
							<div>Description
								<br/>
								Author / Date</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<!--cercle end-->
<!-- caroussel-->
<div class="contenu_carou_auto">
	<div class="caroussel-image">
		<img src="./images/wedding-gce9f1eb9d_640.jpg" alt>
		<img src="./images/alyssa-strohmann-qOIGvGoVNtc-unsplash.jpg" alt>
		<img src="./images/wedding-gce9f1eb9d_640.jpg" alt>
		<img src="./images/alyssa-strohmann-qOIGvGoVNtc-unsplash.jpg" alt>
		<img src="./images/wedding-gce9f1eb9d_640.jpg" alt>
		<img src="./images/wedding-gce9f1eb9d_640.jpg" alt>
		<img src="./images/alyssa-strohmann-qOIGvGoVNtc-unsplash.jpg" alt>
		<img src="./images/wedding-gce9f1eb9d_640.jpg" alt>


	</div>
</div>
<!--section services start-->
<section class="pb-5 pt-5" id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="center-heading">
					<h2 class="section-title">Our Services</h2>
				</div>
			</div>
			<div class="offset-lg-3 col-lg-6">
				<div class="center-text">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<a href="https://bit.ly/2LHKl61" class="services-small-item active">
					<div class="icon">
						<i class="far fa-check-square"></i>
					</div>
					<h5 class="services-title">Lorem Ipsum</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
					<div class="button">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<div class="item-bg"></div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="https://bit.ly/2LHKl61" class="services-small-item">
					<div class="icon">
						<i class="fa fa-truck"></i>
					</div>
					<h5 class="services-title">Lorem Ipsum</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
					<div class="button">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<div class="item-bg"></div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="https://bit.ly/2LHKl61" class="services-small-item">
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
					<h5 class="services-title">Lorem Ipsum</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
					<div class="button">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<div class="item-bg"></div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="https://bit.ly/2LHKl61" class="services-small-item">
					<div class="icon">
						<i class="fa fa-rotate-right"></i>
					</div>
					<h5 class="services-title">Lorem Ipsum</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
					<div class="button">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<div class="item-bg"></div>
			</div>
		</div>
	</div>
</section>

<!-- Video start -->
<div class="spaceBetween lightGreyBar">
	<section>
		<div class=" container">
			<div class="row ">
				<div class="col-md-6">
					<div
						class="video">
						<!-- Youtube iframe start -->
						<div class="video-responsive">
							<iframe width="560" height="315" src="{{asset('videos/vid1.mp4')}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
						<!-- Youtube iframe end -->
					</div>
				</div>
				<!-- Information  -->
				<div class="col-md-6">
					<h2 class="titleInfoTour">Watch our info tour</h2>
					<div class="clearfix"></div>
					<p>Discover the ultimate  VTC experience by watching this captivating video presenting our business. Explore our exceptional services, luxurious vehicles, and professional drivers, all tailored to make your journey  unforgettable</p>
					<p>
						Don't miss out , try our website now and indulge in a world of comfort and convenience with our premier VTC service. Watch the video and embark on a remarkable journey with us.</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!--section services end-->

<section class="container-fluid py-5 reviews-container" id="reviews">
	<div class="container p-2 py-3">
		<h2 class="text-center mb-5">Customers reviews</h2>
		<div class="row mt-4">
			<div class="col-12">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active slider-btn" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="slider-btn" aria-label="Slide 2"></button>
					</div>
					<div
						class="carousel-inner">
						<!-- Carousel-item 1 -->
						<div class="carousel-item active">
							<div
								class="row px-2 flex-nowrap">
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/testimonials/03.jpg" alt="Image of Adrain Lewis">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Adrain Lewis</h6>
											<span>Dec 13, 2020</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/testimonials/04.jpg" alt="Image of Laura Willson">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Laura Willson</h6>
											<span>Feb 5, 2020</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/testimonials/01.jpg" alt="Image of Mary Alice Grant">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Mary Alice Grant</h6>
											<span>Jan 27, 2021</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/shop/reviews/01.jpg" alt="Image of Rafael Marquez">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Rafael Marquez</h6>
											<span>Dec 19, 2020</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
							</div>
						</div>
						<!-- End of carousel-item 1 -->
						<!-- Carousel-item 2 -->
						<div class="carousel-item">
							<div
								class="row px-2 flex-nowrap">
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/testimonials/02.jpg" alt="Image of Richard Devis">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Richard Devis</h6>
											<span>Oct 21, 2020</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/shop/reviews/03.jpg" alt="Image of Daniel Adams">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Daniel Adams</h6>
											<span>Dec 4, 2020</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/shop/reviews/01.jpg" alt="Image of George Doe">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">George Doe</h6>
											<span>Feb 16 27, 2021</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
								<!-- Single review -->
								<blockquote class="col-10 col-sm-6 col-md-4 col-lg-3">
									<div class="card card-body mb-3 shadow border-0 text-secondary">
										<div class="star-rating mb-2">
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="fas fa-star" style="color: #6e4724;"></i>
											<i class="far fa-star"></i>
										</div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum veritatis consequatur
																														                                        incidunt cum aliquid
																														                                        delectus repudiandae ipsum itaque eveniet?
									</div>
									<footer class="d-flex justify-content-center">
										<img class="rounded-circle" width="50" src="https://cartzilla.createx.studio/img/testimonials/03.jpg" alt="Image of Mason Maunt">
										<div class="ms-2">
											<h6 class="fs-5 mb-1">Mason Maunt</h6>
											<span>Mar 17, 2021</span>
										</div>
									</footer>
								</blockquote>
								<!-- End of Single review -->
							</div>
						</div>
						<!-- End of carousel-item 2 -->
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of reviews section -->{% endblock %}
